absl-py 
affine==2.4.0
aiohttp 
aiosignal 
altair==5.3.0
asttokens 
astunparse==1.6.3
async-timeout 
attrs 
backcall 
blinker 
Bottleneck 
Brotli 
cachetools 
charset-normalizer 
click 
click-plugins==1.1.1
cligj==0.7.2
colorama 
comm 
contextily==1.5.2
contourpy 
cryptography 
cycler 
debugpy 
decorator 
executing 
fiona==1.9.6
flatbuffers 
fonttools==4.25.0
frozenlist 
fst-pso 
funcy 
future 
FuzzyTM 
gast 
gensim 
geographiclib==2.0
geopandas==0.13.2
geopy==2.4.1
gitdb==4.0.11
GitPython==3.1.43
google-auth 
google-auth-oauthlib 
google-pasta 
grpcio 
h5py 
idna 
imbalanced-learn 
importlib-metadata 
importlib-resources 
ipykernel 
ipython 
jedi 
Jinja2 
joblib 
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client 
jupyter_core
keras 
Keras-Preprocessing 
kiwisolver 
Markdown 
markdown-it-py==3.0.0
MarkupSafe 
matplotlib 
matplotlib-inline 
mdurl==0.1.2
mercantile==1.2.1
miniful 
mkl-fft 
mkl-random 
mkl-service==2.4.0
multidict 
munkres==1.1.4
nest-asyncio 
nltk 
numexpr 
numpy 
oauthlib 
opt-einsum 
packaging 
pandas 
parso 
pickleshare 
pillow 
pkgutil_resolve_name==1.3.10
platformdirs 
ply==3.11
pooch 
prompt-toolkit 
protobuf==3.20.3
psutil 
pure-eval 
pyarrow==15.0.2
pyasn1 
pyasn1-modules==0.2.8
pycparser 
pydeck==0.8.1b0
pyFUME 
Pygments 
PyJWT 
pyLDAvis 
pyOpenSSL 
pyparsing 
pyproj==3.5.0
PyQt5==5.15.10
PyQt5-sip 
PySocks 
python-dateutil 
pytz 
pywin32==305.1
pyzmq 
rasterio==1.3.9
referencing==0.34.0
regex 
requests 
requests-oauthlib==1.3.0
rich==13.7.1
rpds-py==0.18.0
rsa 
scikit-learn 
scipy==1.10.1
seaborn 
shapely==2.0.3
simpful 
sip 
six 
smart_open 
smmap==5.0.1
snuggs==1.4.7
stack-data 
streamlit==1.33.0
tenacity==8.2.3
tensorboard 
tensorboard-data-server 
tensorboard-plugin-wit 
tensorflow==2.10.0
tensorflow-estimator 
termcolor 
textblob==0.15.3
threadpoolctl 
toml==0.10.2
tomli 
toolz==0.12.1
tornado 
tqdm 
traitlets 
typing_extensions 
tzdata 
urllib3 
watchdog==4.0.0
wcwidth 
Werkzeug 
win-inet-pton 
wordcloud 
wrapt 
xgboost 
xyzservices==2023.10.1
yarl 
zipp 
